@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #3575e2;
}
.nav-parent:has(> .isActive) {
  color: white;
  background-color: #3575e2;
  width: 120px;
}

.half-bg::before {
  position: absolute;
  width: 50%;
  height: 100%;
  content: "";
  right: 0;
  background-color: #fff6da;
}
.half-bg3::before {
  position: absolute;
  width: 50%;
  height: 100%;
  content: "";
  left: 0;
  background-color: #fff6da;
  z-index: -1;
}

.half-bg2::before {
  position: absolute;
  width: 50%;
  height: 60%;
  content: "";
  left: 0;
  background-color: #fff6da;
  z-index: -1;
}

body::-webkit-scrollbar {
  display: none;
}

::selection{
  background-color: rgb(250, 230, 175);
  color: #000;
}

.swiper-pagination-bullet {
  background: #3575e2;
  width: 12px;
  height: 12px;
}
